.navbar{
    display: block;
    height: 60px;
    width: 89em;
    background-color:rgb(165, 229, 233);
    position: relative;
    margin:  1px;
}
.options{
    color: white;
    font-size: 30px;
    text-align: center;
}
.hero img{
    width: 89em;
    position: absolute;
    top:61px;
    height: 30em; 
}
.form{
    
    position: absolute;
    top: 180px;
    left: 200px;
    margin: 0;
    background-color: white;
}
.button{
    position: relative;
    left: 60px;
}